* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quickgrid-container {
}

::deep .quickgrid[theme=dashboardtable] th {
    font-size: 1rem;
    font-weight: bold;
}

::deep .quickgrid[theme=dashboardtable] tr {
    font-size: 1rem;
}