.model-option {
    background-color: white;
    color: black;
    padding: 1em;
    width: 40%;
    text-align: left;
    border: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.model-option a.model-option-link {
    text-decoration: none;
    color: black;
}
