@page "/admin/model-selection"

<title>Select Model</title>

<div class="h2 mb-3">Select Model</div>

<div class="model-option">
    <a href="/admin/vehicle-selection" class="model-option-link">
        <div class="h2">Vehicles</div>
        <div>Add/Edit Vehicles</div>
    </a>
</div>
<br />
<div class="model-option">
    <a href="/admin/service-record-selection" class="model-option-link">
        <div class="h2">Service Records</div>
        <div>Add/Edit Service Records</div>
    </a>
</div>
<br />
<div class="model-option">
    <a href="/admin/service-type-selection" class="model-option-link">
        <div class="h2">Service Types</div>
        <div>Add/Edit Service Types</div>
    </a>
</div>
<br />
<div class="model-option">
    <a href="/admin/tire-record-selection" class="model-option-link">
        <div class="h2">Tire Records</div>
        <div>Add/Edit Tire Records</div>
    </a>
</div>

@code {
}
